name: ci

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: '25 16 * * *'

defaults:
  run:
    shell: bash

jobs:
  shared:
    uses: amezin/js-actions-common/.github/workflows/shared-ci.yml@6e9d841c3ea1f175bfa67d68b2c9f60f5c4f4be3 # v3.0.2
    permissions:
      contents: read

  test:
    needs: shared
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    env:
      PACKAGE_NAME: ${{ github.event.repository.name }}/test-${{ github.run_id }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}

      - id: meta1
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ghcr.io/${{ github.repository_owner }}/${{ env.PACKAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=raw,value=tag2

      - id: build1
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: test
          tags: ${{ steps.meta1.outputs.tags }}
          labels: ${{ steps.meta1.outputs.labels }}
          annotations: ${{ steps.meta1.outputs.annotations }}
          cache-from: |
            ${{ steps.meta1.outputs.tags }}
            ghcr.io/${{ github.repository_owner }}/${{ env.PACKAGE_NAME }}:${{ github.event.repository.default_branch }}
          cache-to: type=inline
          push: true

      - run: sleep 2

      - uses: ./.github/actions/test
        name: No durations set, do nothing
        with:
          name: ${{ env.PACKAGE_NAME }}
          expected-deletions: ''

      - uses: ./.github/actions/test
        name: Untagged duration set, but no untagged versions
        with:
          name: ${{ env.PACKAGE_NAME }}
          untagged-retention-duration: 0dT1s
          expected-deletions: ''

      - uses: ./.github/actions/test
        name: All tags match, matching retention duration expired
        with:
          name: ${{ env.PACKAGE_NAME }}
          tag-patterns: |
            !nomatch
          matching-tags-retention-duration: 0dT1s
          expected-deletions: ${{ steps.build1.outputs.digest }}

      - uses: ./.github/actions/test
        name: No matching tags, mismatching retention duration expired
        with:
          name: ${{ env.PACKAGE_NAME }}
          tag-patterns: |
            *
            !latest
            !tag2
          mismatching-tags-retention-duration: 0dT1s
          expected-deletions: ${{ steps.build1.outputs.digest }}

      - uses: ./.github/actions/test
        name: No matching tags, empty tag-patterns, mismatching retention duration expired
        with:
          name: ${{ env.PACKAGE_NAME }}
          tag-patterns: |
            # empty
          mismatching-tags-retention-duration: 0dT1s
          expected-deletions: ${{ steps.build1.outputs.digest }}

      - uses: ./.github/actions/test
        name: latest tag matches, tag2 doesn't, both retention durations expired
        with:
          name: ${{ env.PACKAGE_NAME }}
          tag-patterns: latest
          matching-tags-retention-duration: 0dT1s
          mismatching-tags-retention-duration: 0dT1s
          expected-deletions: ${{ steps.build1.outputs.digest }}

      - uses: ./.github/actions/test
        name: latest tag matches, tag2 doesn't, mismatching retention duration not expired
        with:
          name: ${{ env.PACKAGE_NAME }}
          tag-patterns: |
            *
            !tag2
          matching-tags-retention-duration: 0dT1s
          mismatching-tags-retention-duration: 1d
          expected-deletions: ''

      - uses: ./.github/actions/test
        name: latest tag matches, tag2 doesn't, matching retention duration not expired
        with:
          name: ${{ env.PACKAGE_NAME }}
          tag-patterns: latest
          matching-tags-retention-duration: 1w
          mismatching-tags-retention-duration: 0dT1s
          expected-deletions: ''

      - uses: ./.github/actions/test
        name: All tags match, matching retention duration expired, mismatching retention duration not expired
        with:
          name: ${{ env.PACKAGE_NAME }}
          tag-patterns: |
            !*
            latest
            tag2
          matching-tags-retention-duration: 0dT1s
          mismatching-tags-retention-duration: 1y
          expected-deletions: ${{ steps.build1.outputs.digest }}

      - uses: ./.github/actions/test
        name: No matching tags, mismatching retention duration expired, matching retention duration not expired
        with:
          name: ${{ env.PACKAGE_NAME }}
          tag-patterns: |
            !*
          matching-tags-retention-duration: 1m
          mismatching-tags-retention-duration: 0dT1s
          expected-deletions: ${{ steps.build1.outputs.digest }}

      - id: meta2
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ghcr.io/${{ github.repository_owner }}/${{ env.PACKAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=raw,value=tag2

      - id: build2
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: test
          tags: ${{ steps.meta2.outputs.tags }}
          labels: ${{ steps.meta2.outputs.labels }}
          annotations: ${{ steps.meta2.outputs.annotations }}
          cache-from: |
            ${{ steps.meta2.outputs.tags }}
            ghcr.io/${{ github.repository_owner }}/${{ env.PACKAGE_NAME }}:${{ github.event.repository.default_branch }}
          cache-to: type=inline
          push: true

      - run: sleep 2

      - uses: ./.github/actions/test
        name: Untagged retention duration not expired
        with:
          name: ${{ env.PACKAGE_NAME }}
          untagged-retention-duration: 1d
          expected-deletions: ''

      - uses: ./.github/actions/test
        name: Untagged retention duration expired
        with:
          name: ${{ env.PACKAGE_NAME }}
          untagged-retention-duration: 0dT1s
          expected-deletions: ${{ steps.build1.outputs.digest }}

      - uses: ./.github/actions/test
        name: Untagged retention duration expired, actual deletion
        with:
          name: ${{ env.PACKAGE_NAME }}
          untagged-retention-duration: 0dT1s
          expected-deletions: ${{ steps.build1.outputs.digest }}
          dry-run: false

      - run: >-
          test "$(gh api --jq '.[].name' "/users/${GITHUB_REPOSITORY_OWNER}/packages/container/${PACKAGE_NAME////%2F}/versions")" = "$DIGEST2"
        env:
          GH_TOKEN: ${{ github.token }}
          DIGEST2: ${{ steps.build2.outputs.digest }}

      - if: always() && steps.build1.outcome == 'success'
        run: >-
          gh api --method DELETE "/users/${GITHUB_REPOSITORY_OWNER}/packages/container/${PACKAGE_NAME////%2F}"
        env:
          GH_TOKEN: ${{ github.token }}
