name: ci

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: '25 16 * * *'

defaults:
  run:
    shell: bash

jobs:
  shared:
    uses: amezin/js-actions-common/.github/workflows/shared-ci.yml@06c4924164b0f9e608fbb977b6d0331ebee42e3f # v5.0.0
    permissions:
      contents: read

  release:
    uses: amezin/js-actions-common/.github/workflows/shared-release.yml@06c4924164b0f9e608fbb977b6d0331ebee42e3f # v5.0.0

    needs:
      - shared
      - test

    permissions:
      contents: write

    with:
      draft: true

  test:
    needs: shared
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    strategy:
      fail-fast: false
      matrix:
        provenance: [false, true]

    env:
      PACKAGE_NAME: ${{ github.event.repository.name }}/test-${{ github.run_id }}-${{ matrix.provenance }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}

      - run: echo "$GITHUB_TOKEN" | skopeo login -u "$GITHUB_REPOSITORY_OWNER" --password-stdin ghcr.io
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - id: meta1
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ghcr.io/${{ github.repository_owner }}/${{ env.PACKAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=raw,value=tag2

      - id: build1
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: test
          tags: ${{ steps.meta1.outputs.tags }}
          labels: ${{ steps.meta1.outputs.labels }}
          annotations: ${{ steps.meta1.outputs.annotations }}
          provenance: ${{ matrix.provenance }}
          cache-from: |
            ${{ steps.meta1.outputs.tags }}
            ghcr.io/${{ github.repository_owner }}/${{ env.PACKAGE_NAME }}:${{ github.event.repository.default_branch }}
          cache-to: type=inline
          push: true

      - id: build1_children
        run: |
          { echo 'digests<<EOF'; skopeo inspect --raw "docker://$IMAGE" | jq -r 'try .manifests[].digest'; echo 'EOF'; } | tee -a "$GITHUB_OUTPUT"
        env:
          IMAGE: ghcr.io/${{ github.repository_owner }}/${{ env.PACKAGE_NAME }}@${{ steps.build1.outputs.digest }}

      - run: sleep 2

      - uses: ./.github/actions/test
        name: No durations set, do nothing
        with:
          name: ${{ env.PACKAGE_NAME }}
          expected-deletions: ''

      - uses: ./.github/actions/test
        name: Untagged duration set, but no untagged versions
        with:
          name: ${{ env.PACKAGE_NAME }}
          untagged-retention-duration: 0dT1s
          expected-deletions: ''

      - uses: ./.github/actions/test
        name: All tags match, matching retention duration expired
        with:
          name: ${{ env.PACKAGE_NAME }}
          tag-patterns: |
            !nomatch
          matching-tags-retention-duration: 0dT1s
          untagged-retention-duration: 0dT1s
          expected-deletions: |
            ${{ steps.build1.outputs.digest }}
            ${{ steps.build1_children.outputs.digests }}

      - uses: ./.github/actions/test
        name: No matching tags, mismatching retention duration expired
        with:
          name: ${{ env.PACKAGE_NAME }}
          tag-patterns: |
            *
            !latest
            !tag2
          mismatching-tags-retention-duration: 0dT1s
          untagged-retention-duration: 0dT1s
          expected-deletions: |
            ${{ steps.build1.outputs.digest }}
            ${{ steps.build1_children.outputs.digests }}

      - uses: ./.github/actions/test
        name: No matching tags, empty tag-patterns, mismatching retention duration expired
        with:
          name: ${{ env.PACKAGE_NAME }}
          tag-patterns: |
            # empty
          mismatching-tags-retention-duration: 0dT1s
          untagged-retention-duration: 0dT1s
          expected-deletions: |
            ${{ steps.build1.outputs.digest }}
            ${{ steps.build1_children.outputs.digests }}

      - uses: ./.github/actions/test
        name: latest tag matches, tag2 doesn't, both retention durations expired
        with:
          name: ${{ env.PACKAGE_NAME }}
          tag-patterns: latest
          matching-tags-retention-duration: 0dT1s
          mismatching-tags-retention-duration: 0dT1s
          untagged-retention-duration: 0dT1s
          expected-deletions: |
            ${{ steps.build1.outputs.digest }}
            ${{ steps.build1_children.outputs.digests }}

      - uses: ./.github/actions/test
        name: latest tag matches, tag2 doesn't, mismatching retention duration not expired
        with:
          name: ${{ env.PACKAGE_NAME }}
          tag-patterns: |
            *
            !tag2
          matching-tags-retention-duration: 0dT1s
          mismatching-tags-retention-duration: 1d
          untagged-retention-duration: 0dT1s
          expected-deletions: ''

      - uses: ./.github/actions/test
        name: latest tag matches, tag2 doesn't, matching retention duration not expired
        with:
          name: ${{ env.PACKAGE_NAME }}
          tag-patterns: latest
          matching-tags-retention-duration: 1w
          mismatching-tags-retention-duration: 0dT1s
          untagged-retention-duration: 0dT1s
          expected-deletions: ''

      - uses: ./.github/actions/test
        name: All tags match, matching retention duration expired, mismatching retention duration not expired
        with:
          name: ${{ env.PACKAGE_NAME }}
          tag-patterns: |
            !*
            latest
            tag2
          matching-tags-retention-duration: 0dT1s
          mismatching-tags-retention-duration: 1y
          untagged-retention-duration: 0dT1s
          expected-deletions: |
            ${{ steps.build1.outputs.digest }}
            ${{ steps.build1_children.outputs.digests }}

      - uses: ./.github/actions/test
        name: No matching tags, mismatching retention duration expired, matching retention duration not expired
        with:
          name: ${{ env.PACKAGE_NAME }}
          tag-patterns: |
            !*
          matching-tags-retention-duration: 1m
          mismatching-tags-retention-duration: 0dT1s
          untagged-retention-duration: 0dT1s
          expected-deletions: |
            ${{ steps.build1.outputs.digest }}
            ${{ steps.build1_children.outputs.digests }}

      - id: meta2
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ghcr.io/${{ github.repository_owner }}/${{ env.PACKAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=raw,value=tag2

      - id: build2
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: test
          tags: ${{ steps.meta2.outputs.tags }}
          labels: ${{ steps.meta2.outputs.labels }}
          annotations: ${{ steps.meta2.outputs.annotations }}
          provenance: ${{ matrix.provenance }}
          cache-from: |
            ${{ steps.meta2.outputs.tags }}
            ghcr.io/${{ github.repository_owner }}/${{ env.PACKAGE_NAME }}:${{ github.event.repository.default_branch }}
          cache-to: type=inline
          push: true

      - run: sleep 2

      - uses: ./.github/actions/test
        name: Untagged retention duration not expired
        with:
          name: ${{ env.PACKAGE_NAME }}
          untagged-retention-duration: 1d
          expected-deletions: ''

      - uses: ./.github/actions/test
        name: Untagged retention duration expired
        with:
          name: ${{ env.PACKAGE_NAME }}
          untagged-retention-duration: 0dT1s
          expected-deletions: |
            ${{ steps.build1.outputs.digest }}
            ${{ steps.build1_children.outputs.digests }}

      - uses: ./.github/actions/test
        name: Untagged retention duration expired, actual deletion
        with:
          name: ${{ env.PACKAGE_NAME }}
          untagged-retention-duration: 0dT1s
          dry-run: false
          expected-deletions: |
            ${{ steps.build1.outputs.digest }}
            ${{ steps.build1_children.outputs.digests }}

      - run: >-
          gh api --jq '.[].name' "/users/${GITHUB_REPOSITORY_OWNER}/packages/container/${PACKAGE_NAME////%2F}/versions" | grep "$DIGEST2"
        env:
          GH_TOKEN: ${{ github.token }}
          DIGEST2: ${{ steps.build2.outputs.digest }}

      - run: |
          for digest in $(skopeo inspect --raw "docker://$IMAGE" | jq -r 'try .manifests[].digest')
          do
            gh api --jq '.[].name' "/users/${GITHUB_REPOSITORY_OWNER}/packages/container/${PACKAGE_NAME////%2F}/versions" | grep "$digest"
          done
        env:
          IMAGE: ghcr.io/${{ github.repository_owner }}/${{ env.PACKAGE_NAME }}@${{ steps.build2.outputs.digest }}
          GH_TOKEN: ${{ github.token }}

      - if: always() && steps.build1.outcome == 'success'
        run: >-
          gh api --method DELETE "/users/${GITHUB_REPOSITORY_OWNER}/packages/container/${PACKAGE_NAME////%2F}"
        env:
          GH_TOKEN: ${{ github.token }}
